@model BTT585.Models.BTT2210

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BTT2210</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BTTName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BTTName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BTTGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BTTGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BTTId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
